@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
 
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: local("Roboto"), url(./assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
}
